/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --red: rgb(232, 72, 72);
}

.left.panel, .right.panel, .connector {
  background-color: var(--red);
  border: 2px solid black;
}

body {
  height: 100vw;
  display: grid;
  place-items: center;
}

/******************************************
/* Top Level Layout
/*******************************************/

#wrapper {
  max-height: 100vh;
  height: 900px;
  width: 950px;
  display: grid;
  /* grid-template-columns: 47.5%, 5%, 47.5%; */
  grid-template-columns: 1fr 0.075fr 1fr;
}



.left.body, .right.body {
  border: 1px dotted green;
}

/* Left Panel */

.left.panel {
  display: flex;
  flex-flow: column wrap;
}

.left.top {
  height: 15%;
}

.left.body {
  height: 85%;
}

.buttonRow {
  display: flex;
  margin-inline: 5%;
  justify-content: space-between;
}

.buttonRow .screen {
  margin-top: 10px;
}

/******************************************
/* Individual Element Layout/padding
/*******************************************/

/* Left Panel Elements*/
.screenFrame {
  position: relative;
  height: 60%;
  margin: 5%;
  border: 2px solid black;
}

.screen {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  min-height: 50px;
  border: 2px solid black;
}

.screen:before {
  position: absolute;
  content: '';
  inset: 0;
  display: block;
  background-color: aquamarine;
  opacity: 0.15;
  /* z-index: 2; */
}

.mainDisplay {
  position: absolute;
  inset: 8% 5%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchContainer > div {
  display: flex;
  justify-content: space-between;
}


/* Buttons */

button {
  background-color: grey;
  width: 45px;
  border: 1px solid black;
  /* opacity: 0.5; */
}

button:hover {
  filter: brightness(150%);
}

button.circular {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

button.thin {
  height: 20px;
  border-radius: 5px;
}

button.blue {
  background-color: cornflowerblue;
}

button.red {
  background-color: darkred;
}

button.dpad {

}


/* Inputs */

#query {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  margin-top: 1rem;
}

/******************************************
/* Backgrounds and Borders
/*******************************************/


.screenFrame {
  background-color: grey;
}


/******************************************
/* Components
/*******************************************/

.screen {
  background-color: white;
}

.screen.off {
  background-color: black;
}



/******************************************
/* Additional Styles
/*******************************************/