
button {
    background-color: grey;
    width: 45px;
    border: 1px solid black;
  }

  button:hover {
    filter: brightness(150%);
  }

  button.circular {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  // button.thin {
  //   height: 20px;
  //   border-radius: 5px;
  // }

  button.blue {
    background-color: cornflowerblue;
  }

  button.red {
    background-color: darkred;
  }

  @media (max-height: 500px), (max-width: 500px) {
    button.circular {
      width: 35px;
      height: 35px;
    }
  }