
.screen {
    position: relative;
    min-height: 50px;
    border: 2px solid black;
    background-color: var(--screenbg)
}

.screen::before {
    position: absolute;
    content: '';
    inset: 0;
    display: block;
    opacity: 0.25;
    // background-image:  linear-gradient(135deg, var(--screenglare) 25%, transparent 25%), linear-gradient(225deg, var(--screenglare) 25%, transparent 25%), linear-gradient(45deg, var(--screenglare) 25%, transparent 25%), linear-gradient(315deg, var(--screenglare) 25%, var(--screenbg) 25%);
    // background-image: linear-gradient(135deg, hsla(158.9, 67.7%, 25.5%, 0.84) 25%, rgba(39, 39, 39, 0) 25%), linear-gradient(225deg, hsla(158.9, 69.1%, 26.7%, 0.84) 25%, rgba(39, 39, 39, 0) 25%), linear-gradient(45deg, hsla(158.9, 69.5%, 25.7%, 0.84) 25%, rgba(39, 39, 39, 0) 25%), linear-gradient(315deg, hsla(158.9, 69.5%, 25.7%, 0.84) 25%, hsl(160, 98.4%, 25.1%) 25%);



    background-image: linear-gradient(135deg, var(--screenglare) 25%, rgba(0, 0, 0, 0) 25%),
                        linear-gradient(225deg, var(--screenglare) 25%, rgba(0, 0, 0, 0) 25%),
                        linear-gradient(45deg, var(--screenglare) 25%, rgba(0, 0, 0, 0) 25%),
                        linear-gradient(315deg, var(--screenglare) 25%, var(--screenglare2) 25%);


    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 4;
}


.screenMain {
    .screenLeft {
      border-right: 1px solid black;
      border-bottom: 2px solid black;

      .imgHolder {
        border-bottom: 1px solid black;
      }
    }

    .screenRight {
      border-left: 1px solid black;
      border-bottom: 2px solid black;

      .screenRightTop {
        border-bottom: 1px solid black;
      }
    }
  }


.imgHolder::before {
    position: absolute;
    content: '';
    inset: 0;
    display: block;
    opacity: 0.1;
    background-image: linear-gradient(var(--screenbggrid) 1px, transparent 1px), linear-gradient(90deg, var(--screenbggrid) 1px, var(--screenbg) 1px);
    background-size: 10px 10px, 10px 10px;
    background-position: 1px 1px, 1px 1px;
    z-index: 2;
}


#pokeImage {
    height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 3;
    object-fit: contain;
    }

    .basicInfo {
    height: 100%;
    }

    .typeImgHolder {
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    img.type {
    position: relative;
    height: 10vh;
    max-height: 62px;
    filter: brightness(80%);

    + img {
    padding-left: 5px;
    }
}

.screenRightTop {
    position: relative;

    .battery {
        display: none;
    }

    td + td {
        padding-left: 0.5rem;
    }
    #pokeStatHp {
        color: hsl(300, 57%, 60%);
    }
    #pokeStatAtk {
        color: hsl(5, 66%, 57%);
    }
    #pokeStatDef {
        color: hsl(39, 97%, 50%);
    }
    #pokeStatSpAtk {
        color: hsl(197, 100%, 50%);
    }
    #pokeStatSpDef {
        color: hsl(120, 54%, 50%);
    }
    #pokeStatSpeed {
        color: hsl(350, 100%, 88%);
    }
}


li {
    padding: 1px;
    cursor: pointer;
    // color: red;
}

li:hover {
    // color: blue;
    border: 1px solid var(--fontAccent);
    padding: 0;
    color: var(--fontAccent);
}

@media (min-width: 500px) {
    .screenRightTop {
        .battery {
            display: block;
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}