
#query {
  position: absolute;
  display: block;
  border: none;
  border-radius: 5px;
  height: 75%;
  background: var(--screenbg);
  filter: brightness(200%);

  &:focus {
    outline: none;
    background: rgba(128, 128, 128, 0.3);
  }
  }