
// .searchContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .searchContainer > div {
//   display: flex;
//   justify-content: space-between;
// }

#query {
  // position: absolute;
  // top: 20%;
  font-family: 'Courier New', Courier, monospace;
  display: block;
  border: none;
  border-radius: 5px;
  height: 90%;

  &:focus {
    outline: none;
    background: rgba(128, 128, 128, 0.3);
  }
  }