
// .searchContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .searchContainer > div {
//   display: flex;
//   justify-content: space-between;
// }

#query {
  // position: absolute;
  // top: 20%;
  display: block;
  border: none;
  border-radius: 5px;
  height: 90%;
  background: var(--screenbg);
  filter: brightness(200%);

  &:focus {
    outline: none;
    background: rgba(128, 128, 128, 0.3);
  }
  }