body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--fontPrim)
}

input {
    font-family: 'Courier New', Courier, monospace;
    color: var(--fontPrim)
}

@media (max-width: 500px) {
    a, p, li {
        font-size: 0.8rem;
    }
}