:root {
  --panelHeight: 800px;
  --panelMinWidth: 300px;
  --panelMaxWidth: 1100px;
  --pokered: rgb(232, 72, 72);
  --screenbg: #7fffd4;
  --screenbggrid: black;
  --screenglare: rgba(122, 230, 192, 0.836);
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

body {
  max-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

body {
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: grey;
  width: 45px;
  border: 1px solid black;
  /* opacity: 0.5; */
}

button:hover {
  filter: brightness(150%);
}

button.circular {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

button.thin {
  height: 20px;
  border-radius: 5px;
}

button.blue {
  background-color: cornflowerblue;
}

button.red {
  background-color: darkred;
}

.screen {
  position: relative;
  min-height: 50px;
  border: 2px solid black;
  background-color: white;
}

.screen::before {
  position: absolute;
  content: "";
  inset: 0;
  display: block;
  opacity: 0.25;
  background-image: linear-gradient(135deg, var(--screenglare) 25%, transparent 25%), linear-gradient(225deg, var(--screenglare) 25%, transparent 25%), linear-gradient(45deg, var(--screenglare) 25%, transparent 25%), linear-gradient(315deg, var(--screenglare) 25%, var(--screenbg) 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  pointer-events: none;
  z-index: 4;
}

.screenFrame {
  position: relative;
  height: 79%;
  margin: 5%;
  border: 2px solid black;
  border-radius: 15px;
}

.mainDisplay {
  position: absolute;
  inset: 8% 5%;
}
.mainDisplay .screenMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
}
.mainDisplay .screenMain > .screenLeft {
  display: grid;
  grid-template-rows: 0.7fr 0.3fr;
}
.mainDisplay .screenMain > .screenLeft > .imgHolder {
  position: relative;
  display: grid;
  place-items: center;
}
.mainDisplay .screenMain > .screenLeft > .imgHolder::before {
  position: absolute;
  content: "";
  inset: 0;
  display: block;
  opacity: 0.1;
  background-image: linear-gradient(var(--screenbggrid) 1px, transparent 1px), linear-gradient(90deg, var(--screenbggrid) 1px, white 1px);
  background-size: 10px 10px, 10px 10px;
  background-position: 1px 1px, 1px 1px;
  z-index: 2;
}
.mainDisplay .screenMain > .screenLeft #pokeImage {
  height: 100%;
  position: relative;
  z-index: 3;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainDisplay .screenMain > .screenRight {
  display: grid;
  grid-template-rows: 0.4fr 0.6fr;
}
.mainDisplay .screenBot {
  display: flex;
  align-items: center;
  height: 20%;
}

.screenMain .screenLeft {
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.screenMain .screenLeft .imgHolder {
  border-bottom: 1px solid green;
}
.screenMain .screenRight {
  border-left: 1px solid black;
  border-bottom: 2px solid black;
}
.screenMain .screenRight .screenRightTop {
  border-bottom: 1px solid blue;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchContainer > div {
  display: flex;
  justify-content: space-between;
}

#query {
  font-family: "Courier New", Courier, monospace;
  display: block;
  border: none;
  border-radius: 5px;
  height: 90%;
}
#query:focus {
  outline: none;
  background: rgba(128, 128, 128, 0.3);
}

#wrapper {
  max-height: 100vh;
  height: var(--panelHeight);
  min-width: var(--panelMinWidth);
  width: 100%;
  max-width: var(--panelMaxWidth);
  display: grid;
}

.panel {
  display: flex;
  flex-direction: column;
  background: var(--pokered);
  border: 2px solid black;
  border-radius: 0;
}

.buttonRow {
  display: flex;
  margin-inline: 2.5%;
  justify-content: space-between;
}

.buttonRow .screen {
  margin-top: 10px;
}

@media screen and (min-width: 1100px) {
  .panel {
    border-radius: 25px;
  }
}/*# sourceMappingURL=main.css.map */