.screenFrame {
    position: relative;
    // margin: 2.5%;
    border: 2px solid black;
    border-radius: 15px;
    background: rgb(238, 238, 238);
  }

.mainDisplay {

    .screenMain {
      display: grid;
      grid-template-columns: 1fr 1fr;


      > .screenLeft {
        height: 100%;
        display: grid;
        // max-height: 100%;
        // grid-template-rows: 0.7fr 0.3fr;

        > .imgHolder {
          position: relative;
          display: grid;
          place-items: center;
        }
      }



      > .screenRight {
        height: 100%;
        display: grid;
        grid-template-rows: 0.3fr 0.7fr;

        .screenRightTop {
          overflow: auto;
          scrollbar-width: thin;
          scrollbar-width: 12px;
          scrollbar-gutter: stable;
          scrollbar-color: var(--screenaccent);   /* scroll thumb and track */
        }

        .screenRightBot {
          overflow: auto;
          scrollbar-width: thin;
          scrollbar-width: 12px;
          scrollbar-gutter: stable;
          scrollbar-color: var(--screenaccent);   /* scroll thumb and track */
        }

      }

    }

    .screenBot {
      display: flex;
      align-items: center;
      position: relative;
      padding: 2px;
    }
}


@media only screen and (max-width: 500px) and (orientation: portrait) {
  .basicInfo {
    flex-direction: column;
  }
}