.screenFrame {
    position: relative;
    height: 80%;
    margin: 2.5%;
    border: 2px solid black;
    border-radius: 15px;
    background: rgb(238, 238, 238);
  }


.mainDisplay {
    position: absolute;
    inset: 5% 3%;

    .screenMain {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 80%;


      > .screenLeft {
        display: grid;
        // max-height: 100%;
        grid-template-rows: 0.7fr 0.3fr;

        > .imgHolder {
          position: relative;
          display: grid;
          place-items: center;
        }
      }



      > .screenRight {
        display: grid;
        // grid-template-rows: 0.4fr 1fr;

        .screenRightTop {
          height: 40%;
        }
      }
    }

    .screenBot {
      display: flex;
      align-items: center;
      height: 20%;
      position: relative;
    }
}


.screenMain {
  .screenLeft {
    border-right: 1px solid black;
    border-bottom: 2px solid black;

    .imgHolder {
      border-bottom: 1px solid green;
    }
  }

  .screenRight {
    border-left: 1px solid black;
    border-bottom: 2px solid black;

    .screenRightTop {
      border-bottom: 1px solid blue;
    }
  }

}


@media only screen and (max-width: 500px) and (orientation: portrait) {
  .basicInfo {
    flex-direction: column;
  }
}