
#wrapper {
    max-height: 100vh;
    height: var(--panelHeight);
    min-width: var(--panelMinWidth);
    width: 100%;
    max-width: var(--panelMaxWidth);
    display: grid;
  }


.panel {
  display: flex;
  flex-direction: column;
  background: var(--pokered);
  border: 2px solid black;
  border-radius: 0;
  }

  .buttonRow {
    display: flex;
    margin-inline: 2.5%;
    justify-content: space-between;
  }

  .buttonRow .screen {
    margin-top: 10px;
  }


@media screen and (min-width: 1100px) {
  .panel {
    border-radius: 25px;
  }

}